@import "styles/mixins.scss";

:local(.container) {
  opacity: 0.5;
  @include transition;
  cursor: pointer;
  &.active {
    .wheel, .loader--container {
      transform: scale(1);
      &:hover {
        transform: scale(1.01);
      }
    }
    opacity: 1;
  }
  .name, .price {
    margin: 0;
    text-align: center;
    font-weight: 400;
  }
  .name {
    color: $blue;
    padding-top: 2rem;
  }
  .price {
    color: $red;
  }

  .wheel, .loader--container {
    @include size(265, 206);
    transform: scale(0.8);
    @include transition;
    &:hover {
      transform: scale(0.85);
    }
    @include mq(mobile) {
      @include size(200, 155);
    }
  }
}
