@import "styles/mixins.scss";

:local(.container) {
  .name, .price {
    margin: 0;
    text-align: center;
    font-weight: 400;
  }
  .name {
    color: $blue;
    padding-top: 2rem;
  }
  .price {
    color: $red;
  }

  .wheel {
    width: 265px;
    height: auto;
    @include mq(mobile) {
      width: 200px;
      height: auto;
    }
  }
}
