@import "styles/mixins.scss";

:local(.container) {
  .car-image, .loader--container {
    @include size(273, 500);
    @include mq(mobile) {
      transform: rotate(-90deg);
      @include size(196, 360);
    }
    @media (max-width: 360px) {
      @include size(175, 320);
    }
  }
  .limit-container .section.radio-section {
    .text {
      padding: 0 0 3rem 0;
    }
    .engine-select {
      margin-bottom: 3rem;
      @include mq(mobile) {
        margin-bottom: 2rem;
      }
    }
    .loader--container {
      max-width: unset;
      min-height: 360px;
      @include mq(mobile) {
        min-height: 120px;
      }
    }
  }
}
