@import 'styles/variables.scss';

@mixin mq($media) {
  @if $media == mobile {
    @media only screen and (max-width: $mq-mobile) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $mq-mobile + 1) and (max-width: $mq-wide - 1) { @content; }
  }
  @else if $media == wide {
    @media only screen and (min-width: $mq-wide) { @content; }
  }
}

@mixin flex1 {
  display: flex;
  flex: 1;
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
}
