$red: #AB1725;
$blue: #0F1C2D;
$grey: #5B5B5B;
$grey-disabled: #757D86;
$select-bg: #F7F9FA;
$white: #FFF;
$mq-mobile: 900px;
$mq-wide: 1400px;

$navbar-height: 100px;
$navbar-height-mb: 70px;
$footer-height: 58px;