@import "styles/mixins.scss";

$color-size: 20px;
$height: 4.5rem;

:local(.container) {
  background: $select-bg;
  @include flex1;
  align-items: center;
  justify-content: space-around;
  max-height: $height;
  min-height: $height;
  margin-bottom: 3rem;
  position: relative;

  .content, .unit, .type-symbol {
    color: $grey-disabled;
  }

  .content {
    margin: 0;
    letter-spacing: 1px;
    font-size: 20px;

    .unit {
      margin-left: 2px;
      font-weight: 500;
    }
    
    &.type {
      font-weight: 300;
      font-size: 28px;
      .type-symbol {
        font-weight: 500;
      }
    }
  }

  .color {
    width: $color-size;
    height: $color-size;
    border-radius: 50%;
    background-color: #FFF;
  }

  .price {
    color: $red;
    position: absolute;
    bottom: -2rem;
    right: 0;
  }

  &.active {
    .content {
      color: $blue;
      .unit {
        color: $grey;
      }
      .type-symbol {
        color: $red;
      }
    }
    .color {
      background-color: $red;
    }
  }
}