@import "styles/mixins.scss";

:local(.container) {
  height: 100px;
  
  @include mq(mobile) {
    height: 70px;
  }

  .limit-container {
    justify-content: space-between;
    align-items: center;
    
    .menu {
      display: flex;
      list-style: none;
      margin: 0;
      height: 100%;
      align-items: center;
      padding: 0;
      @include mq(mobile) {
        overflow-x: scroll;
        margin-left: 80px;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      .option {
        color: $grey-disabled;
        padding-bottom: 4px;
        cursor: pointer;
        letter-spacing: 0.89px;
        flex-shrink: 0;
        &:not(:first-of-type) {
          margin-left: 40px;

        }
        &.active {
          color: $blue;
          border-bottom: 2px solid $red;
        }
        
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}
