:local(.container) {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 98px;
}
:local(.limitWidthContainer) {
  display: flex;
  flex: 1;
  max-width: 1200px;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
:local(.menu) {
  display: flex;
  list-style: none;
  margin: 0;
  height: 100%;
  align-items: center;
  padding: 0;
}
:local(.option) {
  color: var(--grey);
  margin-left: 40px;
  padding-bottom: 4px;
  cursor: pointer;
  letter-spacing: 0.89px;
  flex-shrink: 0;
}
:local(.option) a {
  text-decoration: none;
  color: inherit;
}
:local(.active) {
  color: var(--blue);
  border-bottom: 2px solid var(--red);
}

@media (max-width: 900px) {
  :local(.container) {
    padding: 0 20px;
    height: 70px;
  }
  :local(.limitWidthContainer) {
    max-width: 90vw;
  }
  :local(.menu)::-webkit-scrollbar {
    display: none;
  }
  :local(.menu) {
    overflow-x: scroll;
    margin-left: 20px;
  }
}
