@import "styles/variables.scss";
@import "styles/mixins.scss";

:local(.container) {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 98px;

  .limitWidthContainer {
    @include flex;
    max-width: 1200px;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    .menu {
      display: flex;
      list-style: none;
      margin: 0;
      height: 100%;
      align-items: center;
      padding: 0;

      .option {
        color: $grey;
        margin-left: 40px;
        padding-bottom: 4px;
        cursor: pointer;
        letter-spacing: 0.89px;
        flex-shrink: 0;
        a {
          text-decoration: none;
          color: inherit;
        }
        &.active {
          color: $blue;
          border-bottom: 2px solid $red;
        }
      }
    }
  }
}

@media (max-width: $mq-mobile) {
  :local(.container) {
    padding: 0 20px;
    height: 70px;
    .limitWidthContainer {
      max-width: 90vw;
    }
    .menu {
      overflow-x: scroll;
      margin-left: 20px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
