@import "styles/mixins.scss";

:local(.container).parent__limit-container {
  @include fixed;
  height: 100px;
  top: 0;
  @include mq(mobile) {
    height: 70px;
  }

  .limit-container {
    justify-content: space-between;
    align-items: center;
    
    .menu {
      display: flex;
      list-style: none;
      margin: 0;
      height: 100%;
      align-items: center;
      padding: 0;
      @include mq(mobile) {
        overflow-x: scroll;
        margin-left: 80px;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      .option {
        color: $grey-disabled;
        padding-bottom: 4px;
        letter-spacing: 0.89px;
        flex-shrink: 0;
        cursor: default;
        &:not(:first-of-type) {
          margin-left: 40px;
        }
        &.active {
          cursor: pointer;
          color: $blue;
          position: relative;
          overflow: hidden;
          &::after {
            content: "";
            width: 100%;
            height: 2px;
            transform: translate(-50%,-50%);
            bottom: 0;
            position: absolute;
            background: $red;
            @include transition;
            left: 50%;
          }
          &:hover {
            &::after {
              animation: border-bottom .5s ease-out;
            }
          }
          // border-bottom: 2px solid $red;
        }
        
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

@keyframes border-bottom {
  0% { left: -50%; }
  100% { left: 50%; }
}