:local(.container) {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
}
:local(.container) h2, :local(.container) h1 {
  margin: 0;
}

:local(.title) {
  color: var(--red);
  font-size: 1.875rem;
  letter-spacing: 10.84px;
  font-weight: 500;
}
:local(.subTitle) {
  color: var(--blue);
  font-size: 8rem;
  line-height: 8rem;
  font-weight: 300;
  letter-spacing: 12.5px;
  text-transform: uppercase;
}
:local(.subTitle) span {
  font-weight: 500;
  color: var(--red);
}

:local(.advance) {
  letter-spacing: 10px;
}
:local(.section) {
  position: relative;
  left: -205px;
}

:local(.carImage) {
  position: relative;
  bottom: 34px;
}
:local(.btn) {
  position: relative;
  bottom: 50px;
  flex: 0 0 auto;
}

@media (min-width: 1000px) and (max-width: 1100px) {
  :local(.section) {
    left: -185px;
  }
  :local(.subTitle) {
    font-size: 7rem;
    line-height: 7rem;
  }
}

@media (min-width: 900px) and (max-width: 1000px) {
  :local(.section) {
    left: -165px;
  }
  :local(.subTitle) {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media (max-width: 900px) {
  :local(.section) {
    position: static;
  }
  :local(.subTitle) {
    font-size: 5rem;
    line-height: 5rem;
  }
  :local(.title) {
    font-size: 1rem;
  }
  :local(.carImage) {
    width: 350px;
  }
}
