@import "styles/mixins.scss";

$icon-size: 20px;

:local(.container).parent__limit-container {
  box-shadow: 8px 0px 47px rgba(0, 0, 0, 0.076002);
  @include fixed;
  bottom: 0;
  height: $footer-height;
  .limit-container {
    justify-content: space-between;
    align-items: center;
    height: 80px;
    & * {
      @include transition;
    }
    @include mq(mobile) {
      .car, .engine, .color, .wheel {
        display: none;
      }
    }

    .label, .value, .car, .engine {
      margin: 0;
    }

    .disabled {
      opacity: 0;
    }
    .engine, .color, .wheel {
      opacity: 1;
    }

    .total {
      .label {
        color: $grey;
        font-weight: 500;
      }
      .value {
        color: $red;
        font-size: 1.3rem;
        font-weight: 300;
      }
    }

    .car, .engine {
      color: $blue;
      letter-spacing: 2px;
    }

    .engine {
      font-weight: 500;
      .unit {
        color: $red;
      }
    }

    .color, .wheel, .disabled {
      height: $icon-size;
      width: auto;
    }
  }
}