:root {
  --red: #AB1725;
  --blue: #0F1C2D;
  --grey: #A8A8A8;
}

@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Saira Condensed Light'), local('SairaCondensed-Light'),
       url('fonts/Saira_Condensed/SairaCondensed-Light.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Saira Condensed Regular'), local('SairaCondensed-Regular'),
       url('fonts/Saira_Condensed/SairaCondensed-Regular.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 500;
  src: local('Saira Condensed Medium'), local('SairaCondensed-Medium'),
       url('fonts/Saira_Condensed/SairaCondensed-Medium.ttf') format('truetype') /* Safari, Android, iOS */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Saira Condensed',  'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
}

.main--container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

