@import "styles/mixins.scss";

:local(.container) {
  height: 100px;
  display: flex;
  @include flex-center;
  .limitWidth {
    @include flex1;
    max-width: 1200px;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    @media (min-width: $mq-mobile) {
      padding: 0 98px;
    }
    @include mq(mobile) {
      max-width: 90vw;
    }
  }
}