:local(.container) {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 98px;
}
@media (min-width: 1400px) {
  :local(.container) {
    justify-content: space-evenly;
  }
}
@media (max-width: 900px) {
  :local(.container) {
    padding: 0 20px;
    height: 70px;
  }
}